In [23]:
!pip install shap xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: shap in c:\users\heroiclog\appdata\roaming\python\python311\site-packages (0.46.0)
Requirement already satisfied: xgboost in c:\users\heroiclog\appdata\roaming\python\python311\site-packages (1.7.6)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from shap) (1.24.3)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from shap) (1.11.1)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from shap) (1.3.0)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from shap) (2.0.3)
Requirement already satisfied: tqdm>=4.27.0 in c:\programdata\anaconda3\lib\site-packages (from shap) (4.65.0)
Requirement already satisfied: packaging>20.9 in c:\programdata\anaconda3\lib\site-packages (from shap) (23.1)
Requirement already satisfied: slicer==0.0.8 in c:\users\heroiclog\appdata\roaming\python\python311\site-packages (from shap) (0.0.8)
Requirement already satisfied: numba in c:\programdata\anaconda3\lib\site-packages (from shap) (0.57.1)
Requirement already satisfied: cloudpickle in c:\programdata\anaconda3\lib\site-packages (from shap) (2.2.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.27.0->shap) (0.4.6)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\programdata\anaconda3\lib\site-packages (from numba->shap) (0.40.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->shap) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->shap) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->shap) (2023.3)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->shap) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->shap) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->shap) (1.16.0)

In [24]:
train_path = r"C:\For Internships & Job Applications\personal project\Ecommerce Order & Supply Chain Dataset\archive\Ecommerce Order Dataset\train"
test_path = r"C:\For Internships & Job Applications\personal project\Ecommerce Order & Supply Chain Dataset\archive\Ecommerce Order Dataset\test"

import pandas as pd
import read_csv_files as rsv

df_train_dict = rsv.read_csv(train_path)
df_test_dict = rsv.read_csv(test_path)

In [25]:
import warnings
warnings.filterwarnings("ignore")

In [26]:
df_train_dict.keys()

dict_keys(['df_Customers.csv', 'df_OrderItems.csv', 'df_Orders.csv', 'df_Payments.csv', 'df_Products.csv'])

In [27]:
df_train_dict.values()

dict_values([        customer_id  customer_zip_code_prefix       customer_city  \
0      hCT0x9JiGXBQ                     58125     varzea paulista
1      PxA7fv9spyhx                      3112  armacao dos buzios
2      g3nXeJkGI0Qw                      4119             jandira
3      EOEsCQ6QlpIg                     18212          uberlandia
4      mVz5LO2Vd6cL                     88868            ilhabela
...             ...                       ...                 ...
89311  bfJtzkBGksdY                     94060              amparo
89312  4hjsCpj6FC7g                     99835             itapevi
89313  DLn56oKHl9bv                      2540           sao paulo
89314  auSfRYUQUOIq                     12288            paulinia
89315  rhevVNXYJnEs                     93048            brasilia

      customer_state
0                 SP
1                 RJ
2                 SP
3                 MG
4                 SP
...              ...
89311             SP
89312             SP
89313             SP
89314             SP
89315             DF

[89316 rows x 4 columns],            order_id    product_id     seller_id    price  shipping_charges
0      Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF   223.51             84.65
1      v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs   170.80             23.79
2      Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD    64.40             17.38
3      bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf   264.50             30.72
4      Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr   779.90             30.66
...             ...           ...           ...      ...               ...
89311  zlcLnXGgAabl  W8vikEizUggJ  2QjevWskirjm    31.99            188.65
89312  IlTAoIkILwrq  KXSbyJWtMMwZ  BFS9XJPapWv0   282.00              1.64
89313  uA6oXfftGVmT  EG4wDSpFyTth  TuPm19CMKvrM    58.10              4.09
89314  v3QtU6xlGDJp  ZWyg4uNWPHjJ  yGbPyLPc8PmT  2899.00            113.01
89315  Xo1fqyXOC6CR  5pbzE0rDy61l  mkWN70fui2ro    37.88             70.06

[89316 rows x 5 columns],            order_id   customer_id order_status order_purchase_timestamp  \
0      Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-10-22 18:57:54
1      v6px92oS8cLG  PxA7fv9spyhx    delivered      2018-06-20 21:40:31
2      Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered      2018-02-16 16:19:31
3      bwJVWupf2keN  EOEsCQ6QlpIg    delivered      2018-08-18 18:04:29
4      Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered      2017-12-22 16:44:04
...             ...           ...          ...                      ...
89311  zlcLnXGgAabl  bfJtzkBGksdY    delivered      2018-08-19 17:25:36
89312  IlTAoIkILwrq  4hjsCpj6FC7g    delivered      2017-12-15 11:20:27
89313  uA6oXfftGVmT  DLn56oKHl9bv    delivered      2018-07-24 06:39:14
89314  v3QtU6xlGDJp  auSfRYUQUOIq    delivered      2018-08-11 08:04:22
89315  Xo1fqyXOC6CR  rhevVNXYJnEs    delivered      2018-06-09 21:46:58

         order_approved_at order_delivered_timestamp  \
0      2017-10-22 19:14:13       2017-10-26 22:19:52
1      2018-06-20 22:20:20       2018-07-03 22:51:22
2      2018-02-17 16:15:35       2018-02-27 01:29:50
3      2018-08-18 18:15:16       2018-08-27 20:03:51
4      2017-12-22 17:31:31       2018-01-05 19:22:49
...                    ...                       ...
89311  2018-08-21 04:35:30       2018-08-30 14:47:46
89312  2017-12-16 02:37:32       2017-12-20 19:23:40
89313  2018-07-24 11:20:39       2018-07-27 01:41:40
89314  2018-08-11 08:24:40       2018-08-14 21:43:51
89315  2018-06-09 22:19:00       2018-06-14 15:03:46

      order_estimated_delivery_date
0                        2017-11-09
1                        2018-07-24
2                        2018-03-08
3                        2018-09-19
4                        2018-01-18
...                             ...
89311                    2018-09-04
89312                    2018-01-04
89313                    2018-08-01
89314                    2018-08-17
89315                    2018-07-05

[89316 rows x 7 columns],            order_id  payment_sequential payment_type  payment_installments  \
0      Axfy13Hk4PIk                   1  credit_card                     1
1      v6px92oS8cLG                   1  credit_card                     8
2      Ulpf9skrhjfm                   1  credit_card                     4
3      bwJVWupf2keN                   1  credit_card                     2
4      Dd0QnrMk9Cj5                   1  credit_card                     1
...             ...                 ...          ...                   ...
89311  zlcLnXGgAabl                   1       wallet                     1
89312  IlTAoIkILwrq                   1       wallet                     1
89313  uA6oXfftGVmT                   1  credit_card                     1
89314  v3QtU6xlGDJp                   1      voucher                     1
89315  Xo1fqyXOC6CR                   1  credit_card                    10

       payment_value
0             259.14
1             382.39
2             249.25
3              27.79
4              76.15
...              ...
89311         128.00
89312         106.86
89313         376.39
89314          48.05
89315         211.93

[89316 rows x 5 columns],          product_id     product_category_name  product_weight_g  \
0      90K0C1fIyQUf                      toys             491.0
1      qejhpMGGVcsl             watches_gifts             440.0
2      qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3      639iGvMyv0De                      toys            1450.0
4      1lycYGcsic2F                      toys             300.0
...             ...                       ...               ...
89311  W8vikEizUggJ                      toys             700.0
89312  KXSbyJWtMMwZ                      toys             600.0
89313  EG4wDSpFyTth             health_beauty             250.0
89314  ZWyg4uNWPHjJ                      toys             250.0
89315  5pbzE0rDy61l                      toys            1750.0

       product_length_cm  product_height_cm  product_width_cm
0                   19.0               12.0              16.0
1                   18.0               14.0              17.0
2                   16.0               16.0              16.0
3                   68.0                3.0              48.0
4                   17.0                4.0              12.0
...                  ...                ...               ...
89311               21.0               14.0              14.0
89312               16.0               16.0              16.0
89313               22.0               10.0              18.0
89314               16.0                2.0              11.0
89315               32.0               18.0              24.0

[89316 rows x 6 columns]])

In [28]:
tr_customers = df_train_dict["df_Customers.csv"]
tr_orders = df_train_dict["df_Orders.csv"]
tr_items = df_train_dict["df_OrderItems.csv"]
tr_payments = df_train_dict["df_Payments.csv"]
tr_products = df_train_dict["df_Products.csv"]

train_data = [tr_customers, tr_orders, tr_payments, tr_items, tr_products]

In [29]:
for i in train_data:
    print(i.info())
    print(i.head(5))
    print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               89316 non-null  object
 1   customer_zip_code_prefix  89316 non-null  int64
 2   customer_city             89316 non-null  object
 3   customer_state            89316 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB
None
    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB
None
       order_id   customer_id order_status order_purchase_timestamp  \
0  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-10-22 18:57:54
1  v6px92oS8cLG  PxA7fv9spyhx    delivered      2018-06-20 21:40:31
2  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered      2018-02-16 16:19:31
3  bwJVWupf2keN  EOEsCQ6QlpIg    delivered      2018-08-18 18:04:29
4  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered      2017-12-22 16:44:04

     order_approved_at order_delivered_timestamp order_estimated_delivery_date
0  2017-10-22 19:14:13       2017-10-26 22:19:52                    2017-11-09
1  2018-06-20 22:20:20       2018-07-03 22:51:22                    2018-07-24
2  2018-02-17 16:15:35       2018-02-27 01:29:50                    2018-03-08
3  2018-08-18 18:15:16       2018-08-27 20:03:51                    2018-09-19
4  2017-12-22 17:31:31       2018-01-05 19:22:49                    2018-01-18


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              89316 non-null  object
 1   payment_sequential    89316 non-null  int64
 2   payment_type          89316 non-null  object
 3   payment_installments  89316 non-null  int64
 4   payment_value         89316 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.4+ MB
None
       order_id  payment_sequential payment_type  payment_installments  \
0  Axfy13Hk4PIk                   1  credit_card                     1
1  v6px92oS8cLG                   1  credit_card                     8
2  Ulpf9skrhjfm                   1  credit_card                     4
3  bwJVWupf2keN                   1  credit_card                     2
4  Dd0QnrMk9Cj5                   1  credit_card                     1

   payment_value
0         259.14
1         382.39
2         249.25
3          27.79
4          76.15


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          89316 non-null  object
 1   product_id        89316 non-null  object
 2   seller_id         89316 non-null  object
 3   price             89316 non-null  float64
 4   shipping_charges  89316 non-null  float64
dtypes: float64(2), object(3)
memory usage: 3.4+ MB
None
       order_id    product_id     seller_id   price  shipping_charges
0  Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF  223.51             84.65
1  v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs  170.80             23.79
2  Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD   64.40             17.38
3  bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf  264.50             30.72
4  Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr  779.90             30.66


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             89316 non-null  object
 1   product_category_name  89008 non-null  object
 2   product_weight_g       89301 non-null  float64
 3   product_length_cm      89301 non-null  float64
 4   product_height_cm      89301 non-null  float64
 5   product_width_cm       89301 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.1+ MB
None
     product_id     product_category_name  product_weight_g  \
0  90K0C1fIyQUf                      toys             491.0
1  qejhpMGGVcsl             watches_gifts             440.0
2  qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3  639iGvMyv0De                      toys            1450.0
4  1lycYGcsic2F                      toys             300.0

   product_length_cm  product_height_cm  product_width_cm
0               19.0               12.0              16.0
1               18.0               14.0              17.0
2               16.0               16.0              16.0
3               68.0                3.0              48.0
4               17.0                4.0              12.0

In [31]:
test_customers = df_test_dict["df_Customers.csv"]
test_orders = df_test_dict["df_Orders.csv"]
test_items = df_test_dict["df_OrderItems.csv"]
test_payments = df_test_dict["df_Payments.csv"]
test_products = df_test_dict["df_Products.csv"]

test_data = [test_customers, test_orders, test_items, test_payments, test_products]

In [32]:
for i in test_data:
    print(i.info())
    print(i.head(5))
    print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               38279 non-null  object
 1   customer_zip_code_prefix  38279 non-null  int64
 2   customer_city             38279 non-null  object
 3   customer_state            38279 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB
None
    customer_id  customer_zip_code_prefix        customer_city customer_state
0  I74lXDOfoqsp                      6020              goiania             GO
1  47TuLHF2s7X5                     23020               viamao             RS
2  dQ0dqI8Qwlj8                     75094             campinas             SP
3  iQCmWhNkIczb                     89284  santana de parnaiba             SP
4  Dp2g6JH8tO5Z                     39810             aripuana             MT


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  object
 3   order_approved_at         38272 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB
None
       order_id   customer_id order_purchase_timestamp    order_approved_at
0  u6rPMRAYIGig  I74lXDOfoqsp      2017-11-18 12:29:57  2017-11-18 12:46:08
1  ohY8f4FEbX19  47TuLHF2s7X5      2018-06-02 17:13:12  2018-06-02 20:12:23
2  I28liQek73i2  dQ0dqI8Qwlj8      2018-01-08 11:01:30  2018-01-09 07:24:03
3  bBG1T89mlY8W  iQCmWhNkIczb      2017-03-10 10:24:46  2017-03-10 10:24:46
4  CYxJJSQS8Lbo  Dp2g6JH8tO5Z      2017-12-02 10:04:07  2017-12-05 04:13:30


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          38279 non-null  object
 1   product_id        38279 non-null  object
 2   seller_id         38279 non-null  object
 3   price             38279 non-null  float64
 4   shipping_charges  38279 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.5+ MB
None
       order_id    product_id     seller_id    price  shipping_charges
0  u6rPMRAYIGig  1slxdgbgWFax  3jwvL6ihC45G    24.10             20.90
1  ohY8f4FEbX19  77PgsiElQLeB  GlLj704QXlDB    42.89             12.28
2  I28liQek73i2  QVlD26X1y7NI  V3iKL8r9W9NR    50.21             67.11
3  bBG1T89mlY8W  yWlFGkKYfrpa  RNBdBKsXebna    89.10             62.05
4  CYxJJSQS8Lbo  h6MCbrwh5kiC  5Ja2lH0N2OZt  2139.99              9.41


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              38279 non-null  object
 1   payment_sequential    38279 non-null  int64
 2   payment_type          38279 non-null  object
 3   payment_installments  38279 non-null  int64
 4   payment_value         38279 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.5+ MB
None
       order_id  payment_sequential payment_type  payment_installments  \
0  u6rPMRAYIGig                   1  credit_card                     2
1  ohY8f4FEbX19                   1  credit_card                     1
2  I28liQek73i2                   1       wallet                     1
3  bBG1T89mlY8W                   1  credit_card                     3
4  CYxJJSQS8Lbo                   1       wallet                     1

   payment_value
0         155.77
1           4.07
2         381.59
3          14.76
4         284.09


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             38279 non-null  object
 1   product_category_name  38111 non-null  object
 2   product_weight_g       38269 non-null  float64
 3   product_length_cm      38269 non-null  float64
 4   product_height_cm      38269 non-null  float64
 5   product_width_cm       38269 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.8+ MB
None
     product_id product_category_name  product_weight_g  product_length_cm  \
0  1slxdgbgWFax                  toys              50.0               16.0
1  77PgsiElQLeB           electronics             200.0               21.0
2  QVlD26X1y7NI       furniture_decor            1000.0              100.0
3  yWlFGkKYfrpa                  toys            8950.0               40.0
4  h6MCbrwh5kiC                  toys            2301.0               32.0

   product_height_cm  product_width_cm
0                5.0              11.0
1                7.0              14.0
2                5.0              20.0
3               30.0              40.0
4               35.0              34.0